{% extends 'base.html' %}

{% block content %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">

    <!-- ============================ COMPONENT REGISTER   ================================= -->
        <div class="card mx-auto" style="max-width:520px;">
          <article class="card-body">
            {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
            {% endif %}
            
            <header class="mb-4"><h4 class="card-title text-center border-bottom">Update Profile</h4></header>
            {% include 'includes/alerts.html' %}
            <form action="{% url 'UpdateProfile' %}" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
                    <div class="container text-center mb-2">
                        <img src="{{ user.profile_picture.url }}" alt="Profile Picture" width="70px"  style="border-radius: 50%;">
                    </div>
                    <div class="form-row">
                        <div class="col form-group">
                            <label>First Name</label>
                              {{ form.first_name }}
                        </div> <!-- form-group end.// -->
                        <div class="col form-group">
                            <label>Last Name</label>
                            {{ form.last_name }}
                        </div> <!-- form-group end.// -->
                    </div> <!-- form-row end.// -->
                    <div class="form-group">
                        <label>App ID</label>
                        {{ form.app_id }}
                    </div> <!-- form-group end.// -->
                    <div class="form-group">
                        <label>Secret ID</label>
                        {{ form.secret_id }}
                    </div> <!-- form-group end.// -->
                    <div class="from-group">
                        <label for="profile_picture">Profile Picture</label>
                        {{ form.profile_picture }}
                    </div>             
                    <div class="form-group mt-3">
                        <button type="submit" class="btn btn-primary btn-block"> Submit  </button>
                    </div> <!-- form-group// -->      
                        
                </form>
            </article><!-- card-body.// -->
        </div> <!-- card .// -->
        
    <!-- ============================ COMPONENT REGISTER  END.// ================================= -->
    
    
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
    
{% endblock content %}