<div class="container-fluid mt-5 border-top">
    <footer class="py-5">
      <div class="row">
        <div class="col-3">
          <h5>Text Transcription</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="{% url 'TranscriptText' %}" class="nav-link p-0 text-muted">Transcript using File</a></li>
            <li class="nav-item mb-2"><a href="{% url 'ViewHistoryByMedia' 'text' %}" class="nav-link p-0 text-muted">Append Another Text File</a></li>           
          </ul>
        </div>
  
        <div class="col-3">
          <h5>Audio Transcription</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="{% url 'TranscriptAudio' %}" class="nav-link p-0 text-muted">Transcript using File</a></li>
            <li class="nav-item mb-2"><a href="{% url 'ViewHistoryByMedia' 'audio' %}" class="nav-link p-0 text-muted">Append Another Audio File</a></li>
            <li class="nav-item mb-2"><a href="{% url 'TranscriptAudioURL' %}" class="nav-link p-0 text-muted">Transcript using URL</a></li>
          </ul>
        </div>
  
        <div class="col-3">
          <h5>Video Transcription</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="{% url 'TranscriptVideo' %}" class="nav-link p-0 text-muted">Transcript using File</a></li>
            <li class="nav-item mb-2"><a href="{% url 'ViewHistoryByMedia' 'video' %}" class="nav-link p-0 text-muted">Append Another Video File</a></li>
            <li class="nav-item mb-2"><a href="{% url 'TranscriptVideoURL' %}" class="nav-link p-0 text-muted">Transcript using URL</a></li>
          </ul>
        </div>

        <div class="col-3">
          <h5>Transcription History</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="{% url 'ViewHistoryByMedia' 'text' %}" class="nav-link p-0 text-muted">Text Transcript History</a></li>
            <li class="nav-item mb-2"><a href="{% url 'ViewHistoryByMedia' 'audio' %}" class="nav-link p-0 text-muted">View Audio Transcript History</a></li>
            <li class="nav-item mb-2"><a href="{% url 'ViewHistoryByMedia' 'video' %}" class="nav-link p-0 text-muted">Video Transcript History</a></li>
          </ul>
        </div>
      </div>
  
      <div class="d-flex justify-content-center py-4 my-4 border-top border-bottom">
        <p>© 2021 TranscriptMe, Inc. All rights reserved.</p>
      </div>
    </footer>
  </div>
  <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    -->
  </body>
  </html>