{% load static %}
<div class="container-fluid">
  <header class="p-3 mb-1 border-bottom">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-center">
        <!-- <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
          <img src="{% static 'images/icons/logo.jpg' %}" alt="TranscriptMe" width="40" height="42" >
        </a> -->

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="{% url 'Home' %}" class="nav-link px-2 link-secondary">Home</a></li>
          <li><a href="{% url 'TranscriptText' %}" class="nav-link px-2 link-dark">Transcript Text</a></li>
          <li><a href="{% url 'TranscriptAudio' %}" class="nav-link px-2 link-dark">Transcript Audio</a></li>
          <li><a href="#" class="nav-link px-2 link-dark">Transcript Video</a></li>
          <li><a href="{% url 'ViewHistory' %}" class="nav-link px-2 link-dark">My Transcript History</a></li>
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
          <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
        </form>
        {% if user.is_authenticated %}
          <div class="dropdown text-end">
            <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="{{ user.profile_picture.url }}" alt="{{ user.profile_picture.url }}" width="32" height="32" class="rounded-circle">
            </a>
            <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
              <li><a class="dropdown-item" href="{% url 'ViewHistory' %}">History</a></li>
              <li><a class="dropdown-item" href="{% url 'UpdateProfile' %}">Profile</a></li>
              <li><a class="dropdown-item" href="{% url 'ChangePassword' %}">Change Password</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'Logout' %}">Sign out</a></li>
            </ul>
          </div>
        {% else %}
        <div class="col-md-3 text-end">
          <a href="{% url 'Login' %}" type="button" class="btn btn-outline-primary me-2">Login</a>
          <a href="{% url 'Register' %}" type="button" class="btn btn-primary">Sign up</a>
        </div>
        {% endif %}
      </div>
    </div>
  </header>
</div>