{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
  <div class="card-group text-center mt-5">
    <div class="card">
      <a href="{% url 'TranscriptText' %}"><img src="{% static 'images/icons/file.png' %}"
          class="card-img-top mage-border image-size image-center" alt="{% static 'images/icons/file.png' %}"></a>
      <div class="card-body">
        <h5 class="card-title"><a href="{% url 'TranscriptText' %}">Transcript Text</a></h5>
        <p class="card-text">Easily get insights of your text file in 3 steps!</p>
      </div>
    </div>
    <div class="card">
      <a href="{% url 'TranscriptAudio' %}"><img src="{% static 'images/icons/audio.png' %}"
          class="card-img-top mage-border image-size image-center mt-2" alt="{% static 'images/icons/mic.png' %}"></a>
      <div class="card-body">
        <h5 class="card-title"><a href="{% url 'TranscriptAudio' %}">Transcript Audio</a></h5>
        <p class="card-text">Easily get all the insights of audio in 3 steps!</p>
      </div>
    </div>
    <div class="card">
      <a href="{% url 'TranscriptVideo' %}"><img src="{% static 'images/icons/video.png' %}"
          class="card-img-top mage-border image-size image-center" alt="{% static 'images/icons/file.png' %}"></a>
      <div class="card-body">
        <h5 class="card-title"><a href="{% url 'TranscriptVideo' %}">Transcript Video</a></h5>
        <p class="card-text">Easily get all the insights of any video in 3 steps!</p>
      </div>
    </div>
  </div>
  <div class="card-group text-center">
    <div class="card">
      <a href="{% url 'TranscriptAudioURL' %}"><img src="{% static 'images/icons/audio-url.png' %}"
          class="card-img-top mage-border image-size image-center mt-2"
          alt="{% static 'images/icons/audio-url.png' %}"></a>
      <div class="card-body">
        <h5 class="card-title"><a href="{% url 'TranscriptAudioURL' %}">Transcript Audio by URL</a></h5>
        <p class="card-text">Easily get all the insights of audio in 3 steps!</p>
      </div>
    </div>
    <div class="card">
      <a href="{% url 'TranscriptVideoURL' %}"><img src="{% static 'images/icons/video-url.png' %}"
          class="card-img-top mage-border image-size image-center" alt="{% static 'images/icons/video-url.png' %}"></a>
      <div class="card-body">
        <h5 class="card-title"><a href="{% url 'TranscriptVideoURL' %}">Transcript Video by URL</a></h5>
        <p class="card-text">Easily get all the insights of any video in 3 steps!</p>
      </div>
    </div>
    <div class="card">
      <a href="{% url 'TranscriptZoomCall' %}"><img src="{% static 'images/icons/zoom-meeting.png' %}"
          class="card-img-top mage-border image-size image-center"
          alt="{% static 'images/icons/zoom-meeting.png' %}"></a>
      <div class="card-body">
        <h5 class="card-title"><a href="{% url 'TranscriptZoomCall' %}">Transcript Zoom Call</a></h5>
        <p class="card-text">Easily get all the insights of any Zoom Call in 2 steps!</p>
      </div>
    </div>
  </div>
  <div class="card-group text-center">
    <div class="card" style="border-style: none solid none none;"></div>
    <div class="card">
      <a href="{% url 'TranscriptGoogleMeet' %}"><img src="{% static 'images/icons/google-meet.jpg' %}"
          class="card-img-top mage-border image-size image-center"
          alt="{% static 'images/icons/google-meet.jpg' %}"></a>
      <div class="card-body">
        <h5 class="card-title"><a href="{% url 'TranscriptGoogleMeet' %}">Transcript Google Meet</a></h5>
        <p class="card-text">Easily get all the insights of any Google Meet in 2 steps!</p>
      </div>
    </div>
    <div class="card" style="border-style: none none none solid;"></div>
  </div>
</div>

{% endblock content %}